<div class="container">
  <div class="row">
    <h1 class="left-align"> <%= @feed.title  %> </h1>
    <p><%=link_to(@feed.url, @feed.url) %></p>
  </div>
  <div class="row left-align">
    <% @feed.entries.each do |entry|  %>
      <div class="section scrollspy" id="<%=entry.title  %>">
        <h5><%= entry.title  %> </h5>
        <p class="blog-text"><em><%= entry.published.strftime("%B %e, %Y")%></em> </p>
        <p class="blog-text">By <%= entry.author  %>  </p>
        
        <%= entry.content.html_safe  %>
      </div>
    <% end %>
  </div>
</div>

  <div class="col hide-on-small-only m3 l2 fixed">
    <h5>Recent Posts:</h5>  
      <ul class="section table-of-contents">
      <% @feed.entries.each do |entry| %>
        <li><a href="#<%=entry.title%>"><%=entry.title  %></a></li>
      <% end %>
      </ul>
  </div>