<div class="container-fluid">
  <h2 class="center-align">Locations</h2>
  <div class="divider"></div>
  <div class="row center-align">
    <div class="">  
      <div class="col s12 m6 l6 spacer">
        <div class="row">
          <h4>Move-PT:
          <h5><%= link_to("3700 Havana St #218, Denver, CO 80239", "https://www.google.com/maps/place/3700 Havana St,+Denver,+CO+80239" , target: "_blank") %>
          </h5>
          <em>inside of the <%= link_to("Crossfit Stapleton","http://crossfitstapleton.com/" ) %> </em>
        </div>
        <div class="row">
          <%= link_to( image_tag("Crossfit-Stapleton.png", class:"image-responsive center-align"), "http://crossfitstapleton.com/") %>
        </div> 
      </div>
    </div>
    <div class="col m6 l6 hide-on-small-only">
      <iframe
        width="500"
        height="500"
        frameborder="0" style="border:0"
        src= <%="https://www.google.com/maps/embed/v1/place?key=#{ENV['google_map_key']}&q=3700+Havana+St+%23218,+Denver,+CO+80239"%>>
      </iframe>
    </div>
    <div class="col s12 hide-on-med-and-up">
      <iframe
        width="300"
        height="300"
        frameborder="0" style="border:0"
        src= <%="https://www.google.com/maps/embed/v1/place?key=#{ENV['google_map_key']}&q=3700+Havana+St+%23218,+Denver,+CO+80239"%>>
      </iframe>
    </div>
  </div>
  <h3 class="center-align">More Locations Coming Soon!</h3>
</div>

    